
<!--
     상품 상세 페이지 (Test용)
     @author : sehui
     @fileName : itemDtl
     @since : 250711
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
</head>
    <!-- 사용자 스크립트 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function(){

                calculateTotalPrice();

                //수량 변경 시 결제금액 변동시키는 이벤트 핸들러
                $("#count").change(function(){
                    calculateTotalPrice();
                });

                //수정 버튼 이벤트 핸들러
                $("button[data-oper='modify']").on("click", function(e){
                    let itemId = $("#itemId").val();
                    location.href = "/item/modify?itemId=" + itemId;
                });

                //목록 버튼 이벤트 핸들러
                $("button[data-oper='list']").on("cilck", function(e){
                    location.href = "/item/list";
                });


                //결제 금액 함수(수량*가격)
                function calculateTotalPrice(){
                    let count = $("#count").val();
                    let price = $("#price").val();
                    let totalPrice = price*count;
                    $("#totalPrice").html(totalPrice + '원');
                };

                //주문 요청 함수
                function order(){
                  //let token = $("meta[name='_csrf']").attr("content");
                  //let header = $("meta[name='_csrf_header']").attr("content");

                    let url = "/order";
                    let paramData = {
                        itemId : $("#itemId").val(),
                        count : $("#count").val()
                    };

                    let param = JSON.stringify(paramData);

                    $.ajax({
                        url : url,
                        type : "POST",
                        contentType : "application/json",
                        data : param,
                        beforeSend : function(xhr){
                            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                            //xhr.setRequestHeader(header, token);
                        },
                        dataType : "json",
                        cache : false,
                        success  :function(result, status){
                            alert("주문이 완료되었습니다.");
                            //location.href='상품 목록 페이지';
                        },
                        error : function(jqXHR, status, error){

                            if(jqXHR.status == '401'){
                                alert("로그인 후 이용해주세요.");
                                location.href='/members/login';
                            }else {
                                alert(jqXHR.responseText);
                            }
                        }
                    });
                } //end order()

                //장바구니 담기 함수
                function addCart(){
                    //let token = $("meta[name='_csrf']").attr("content");
                    //let header = $("meta[name='_csrf_header']").attr("content");

                    let url = "/cart";
                    let paramData = {
                        itemId : $("#itemId").val(),
                        count: $("#count").val()
                    };

                    let param = JSON.stringify(paramData);

                    $.ajax({
                        url : url,
                        type: "POST",
                        contentType: "application/json",
                        data: param,
                        beforeSend : function(xhr){
                            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                            //xhr.setRequestHeader(header, token);
                        },
                        dataType: 'json',
                        cache: false,
                        success : function(result, status){
                            alert("상품을 장바구니에 담았습니다.");
                        },
                        error : function(jqXHR, status, error){

                            if(jqXHR.status == '401'){
                                alert("로그인 후 이용해주세요.");
                                location.href='/members/login';
                            }else {
                                alert(jqXHR.responseText);
                            }
                        }

                    });
                } //end addCart()
            });
        </script>
    </th:block>

    <!-- 사용자 css -->

<body>
        <!-- Bootstrap의 breadcrumb 사용 -->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <i class="bi bi-house"></i>
                </li>
                <li class="breadcrumb-item active" aria-current="page">에코마켓</li>
                <li class="breadcrumb-item active" aria-current="page">카테고리</li>
                <li class="breadcrumb-item active" aria-current="page">
                    <p th:text="${item.category}"></p>
                </li>
            </ol>
        </nav>

    <div layout:fragment="content">
        <input type="hidden" id="itemId" th:value="${item.id}">

        <div th:if="${role.equals(com.ecovery.constant.Role).ADMIN}">
            <button type="button" data-oper="modify">수정</button>
        </div>

        <div class="d-flex">
            <div class="repImgDiv">
                <img th:src="${item.itemImgDtoList[0].imgUrl}" class="rounded repImg" th:alt="${item.itemNm}">
            </div>
            <div>
                <span th:if="${item.itemSellStatus.equals(T(com.ecovery.constant.ItemSellStatus).SELL)}"
                      class="badge rounded-pill bg-light text-dark">판매중</span>
                <span th:unless="${item.itemSellStatus.equals(T(com.ecovery.constant.ItemSellStatus).SELL)}"
                      class="badge rounded-pill bg-dark">품절</span>

                <div th:text="${item.itemNm}"></div>
                <hr class="my-4">

                <div>
                    <div>
                        <input type="hidden" th:value="${item.price}" id="price" name="price">
                        <span th:text="${item.price}">원</span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">수량</span>
                        </div>
                        <input type="number" name="count" id="count" cla value="1" min="1">
                    </div>
                </div>
                <hr class="my-4">

                <div>
                    <h5>결제 금액</h5>
                    <h3 name="totalPrice" id="totalPrice"></h3>
                </div>

                <div>
                    <div class="container">
                        <h4 class="display-5">상품 상세 설명</h4>
                        <p class="lead" th:text="${item.itemDetail}"></p>
                    </div>
                </div>

                <div th:if="${item.itemSellStatus.equals(T(com.ecovery.constant.ItemSellStatus).SELL)}">
                    <button type="button" onclick="addCart()">장바구니</button>
                    <button type="button" onclick="order()">주문</button>
                </div>

                <div th:unless="${item.itemSellStatus.equals(T(com.ecovery.constant.ItemSellStatus).SELL)}">
                    <button type="button">품절</button>
                </div>

                <button type="button" data-oper="list">목록</button>

                <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
                    <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
                </div>
            </div>
        </div>
    </div>

</body>
</html>