
<!--
     상품 등록 페이지 (Test용)
     @author : sehui
     @fileName : itemForm
     @since : 250716
-->

<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>itemForm</title>
</head>
<body>
  <div>
    <form role="form" method="post" enctype="multipart/form-data" th:object="${itemFormDto}">
      <div th:if="${#lists.isEmpty(itemFormDto.itemImgDtoList)}">
        <p>상품 등록</p>
      </div>

      <div th:if="${not #lists.isEmpty(itemFormDto.itemImgDtoList)}">
        <p>상품 수정</p>
      </div>

      <input type="hidden" th:field="*{itemId}">

      <div>
        <select th:field="*{itemSellStatus}">
          <option value="SELL">판매중</option>
          <option value="SOLD_OUT">품절</option>
        </select>
      </div>

      <div>
        <div>
          <span>상품명</span>
        </div>
        <input type="text" th:field="*{itemNm}" placeholder="상품명을 입력해주세요.">
      </div>
      <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}">Incorrect data</p>

      <div>
        <div>
          <span>가격</span>
        </div>
        <input type="number" th:field="*{price}" placeholder="상품의 가격을 입력해주세요.">
      </div>
      <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect data</p>

      <div>
        <div>
          <span>재고</span>
        </div>
        <input type="number" th:field="*{stockNumber}" placeholder="상품의 재고를 입력해주세요.">
      </div>
      <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}">Incorrect data</p>

      <div>
        <div>
          <span>상품 상세 내용</span>
        </div>
        <textarea aria-label="With textarea" th:field="*{itemDetail}"></textarea>
      </div>
      <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}">Incorrect data</p>

      <div th:if="${not #lists.isEmpty(itemFormDto.itemImgDtoList)}">
        <div th:each="itemImgDto, status: ${itemFormDto.itemImgDtoList}">
          <div>
            <input type="file">
            <input type="hidden" th:value="${itemImgDto.id}">
            <label th:text="${not #strings.isEmpty(itemImgDto.oriImgName)} ? ${itemImgDto.oriImgName} : '상품이미지' + ${status.index+1}"></label>
          </div>
        </div>
      </div>

      <div th:if="${#strings.isEmpty(itemFormDto.itemId)}">
        <button type="submit" th:formaction="@{/templates/eco/new}">저장</button>
      </div>
      <div th:unless="${#strings.isEmpty(itemFormDto.itemId)}">
        <button th:formaction="@{/templates/eco/{itemId}(itemId=${itemFormDto.itemId})}" type="submit">수정</button>
      </div>

    </form>
  </div>
</body>
</html>