{{>layouts/header}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">CONTENT</th>
        </tr>
    </thead>
    <tbody>
        {{! HTML 안에서 변수를 출력하거나 반복/조건을 처리할 수 있도록 도와줌 }}
        {{#article}}
        <tr>
            <th>{{id}}</th>
            <th>{{title}}</th>
            <th>{{content}}</th>
        </tr>
        {{/article}}
    </tbody>
</table>

<!-- 상세페이지 Edit 버튼 만들기 : 범위를 따로 지정하지 않았다면 점을 사용해 표시 -->
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>

<a href="/articles">Go to Article List</a>

{{>comments/_comments}} <!-- 상세 페이지에 댓글 뷰 파일 삽입 -->
{{>layouts/footer}}