<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    DisposalFeedbackMapper.xml
    - com.ecovery.mapper.DisposalFeedbackMapper 인터페이스와 연결되는 MyBatis 매퍼 XML 파일
    - 분리배출(DisposalFeedbackVO) 관련 SQL 쿼리 정의
-->
<mapper namespace="com.ecovery.mapper.DisposalFeedbackMapper">


    <!--오류 신고 내역 저장-->
    <insert id="insertFeedback" parameterType="com.ecovery.domain.DisposalFeedbackVO" useGeneratedKeys="true" keyProperty="feedbackId">
        insert into disposal_feedback(disposal_history_id, member_id, created_at)
        values (#{disposalHistoryId}, #{memberId}, #{createdAt})
    </insert>

    <!--특정 disposal_history_id로 기존 신고 여부 확인(중복 신고 방지)-->
    <select id="countByDisposalHistoryId" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM disposal_feedback
        WHERE disposal_history_id = #{disposalHistoryId}
    </select>

    <!-- 상세 조회 -->
    <select id="selectDetailByDisposalHistoryId" parameterType="long" resultType="com.ecovery.dto.DisposalFeedbackDto">
        SELECT f.feedback_id       AS feedbackId,
               f.disposal_history_id AS disposalHistoryId,
               f.created_at         AS createdAt,
               f.member_id          AS memberId,
               h.ai_prediction      AS aiPrediction,
               h.region_gu          AS regionGu,
               h.final_item         AS finalItem,
               i.disposal_img_url   AS disposalHistoryImgUrl,
               m.nickname           AS nickname
        FROM disposal_feedback f
                 LEFT JOIN disposal_history h ON f.disposal_history_id = h.disposal_history_id
                 LEFT JOIN disposal_history_img i ON h.disposal_history_id = i.disposal_history_id
                 LEFT JOIN member m ON f.member_id = m.member_id
        WHERE f.disposal_history_id = #{disposalHistoryId}
            LIMIT 1
    </select>

    <!--관리자용 전체 신고 내역 조회-->
    <select id="findAllFeedbackWithImg" resultType="com.ecovery.dto.DisposalFeedbackDto">
        select f.feedback_id as feedbackId,
               f.disposal_history_id as disposalHistoryId,
               f.created_at as createdAt,
               f.member_id as memberId,
               h.ai_prediction as aiPrediction,
               h.region_gu as regionGu,
               h.final_item as finalItem,
               i.disposal_img_url as disposalHistoryImgUrl,
               m.nickname as nickname
        from disposal_feedback f
                 left join disposal_history h on f.disposal_history_id = h.disposal_history_id
                 left join disposal_history_img i on h.disposal_history_id = i.disposal_history_id
                 join member m on f.member_id = m.member_id
        order by feedback_id desc
    </select>

    <!--회원용 신고 내역 조회-->
    <select id="findDisposalHistoryWithImgByMemberId" parameterType="long" resultType="com.ecovery.dto.DisposalFeedbackDto">
        select f.feedback_id as feedbackId,
               f.disposal_history_id as disposalHistoryId,
               f.created_at as createdAt,
               f.member_id as memberId,
               h.ai_prediction as aiPrediction,
               h.region_gu as regionGu,
               h.final_item as finalItem,
               i.disposal_img_url as disposalHistoryImgUrl
        from disposal_feedback f
                 left join disposal_history h on f.disposal_history_id = h.disposal_history_id
                 left join disposal_history_img i on h.disposal_history_id = i.disposal_history_id
        where f.member_id = #{memberId}
        order by feedback_id desc
    </select>



</mapper>