<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    DisposalFeedbackMapper.xml
    - com.ecovery.mapper.DisposalFeedbackMapper 인터페이스와 연결되는 MyBatis 매퍼 XML 파일
    - 분리배출(DisposalFeedbackVO) 관련 SQL 쿼리 정의
-->
<mapper namespace="com.ecovery.mapper.DisposalFeedbackMapper">
    <!--
            resultMap: SQL 결과를 VO 객체에 매핑하는 설정
            - 컬럼명과 자바 필드명이 다를 경우 사용 (예: created_at → createdAt)
        -->
    <resultMap id="DisposalFeedbackMap" type="com.ecovery.domain.DisposalFeedbackVO">
        <id property="feedbackId" column="feedback_id"/>
        <result property="disposalHistoryId" column="disposal_history_id"/>
        <result property="memberId" column="member_id"/>
        <result property="createdAt" column="created_at"/>
        <!--<collection property="disposalInfo" resultMap="disposalInfoMap"/>-->

        <association property="disposalHistory" javaType="com.ecovery.domain.DisposalHistoryVO">
            <id property="disposalHistoryId" column="disposal_history_id"/>
            <result property="aiPrediction" column="ai_prediction"/>
            <result property="regionGu" column="region_gu"/>
            <!--<collection property="disposalInfo" resultMap="disposalInfoMap"/>-->

            <association property="disposalImg" javaType="com.ecovery.domain.DisposalHistoryImgVO">
                <id property="disposalImgId" column="disposal_img_id"/>
                <result property="disposalHistoryId" column="disposal_history_id"/>
                <result property="disposalImgName" column="disposal_img_name"/>
                <result property="oriDisposalImgName" column="ori_disposal_img_name"/>
                <result property="disposalImgUrl" column="disposal_img_url"/>
            </association>
        </association>
    </resultMap>

    <!--오류 신고 내역 저장-->
    <insert id="insertFeedback" parameterType="com.ecovery.domain.DisposalFeedbackVO" useGeneratedKeys="true" keyProperty="feedbackId">
        insert into disposal_feedback(disposal_history_id, member_id, created_at)
        values (#{disposalHistoryId}, #{memberId}, #{createdAt})
    </insert>

    <!--특정 disposal_history_id로 기존 신고 여부 확인(중복 신고 방지)-->
    <select id="findFeedbackByDisposalHistoryId" parameterType="long" resultType="long">
        SELECT disposal_history_id FROM disposal_feedback WHERE disposal_history_id = #{disposalHistoryId}
    </select>

    <!--관리자용 전체 신고 내역 조회-->
    <select id="findAllFeedbackWithImg" resultMap="DisposalFeedbackMap">
        select f.*, h.*, i.*
        from disposal_feedback f
                 left join ecovery.disposal_history h on f.disposal_history_id = h.disposal_history_id
                 left join disposal_history_img i on h.disposal_history_id = i.disposal_history_id
        order by feedback_id desc
    </select>

    <!--회원용 신고 내역 조회-->
    <select id="findDisposalHistoryWithImgByMemberId" parameterType="long" resultMap="DisposalFeedbackMap">
        select f.*, h.*, i.*
        from disposal_feedback f
                 left join ecovery.disposal_history h on f.disposal_history_id = h.disposal_history_id
                 left join disposal_history_img i on h.disposal_history_id = i.disposal_history_id
        where f.member_id = #{memberId}
        order by feedback_id desc
    </select>



</mapper>