<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    DisposalHistoryMapper.xml
    - com.ecovery.mapper.DisposalHistoryMapper 인터페이스와 연결되는 MyBatis 매퍼 XML 파일
    - 분리배출(DisposalHistoryVO) 관련 SQL 쿼리 정의
-->
<mapper namespace="com.ecovery.mapper.DisposalHistoryMapper">

    <insert id="insertDisposalHistory" parameterType="com.ecovery.domain.DisposalHistoryVO" useGeneratedKeys="true" keyProperty="disposalHistoryId">
        insert into disposal_history(member_id, ai_prediction, region_gu, final_item)
        values (#{memberId}, #{aiPrediction}, #{regionGu}, #{finalItem})
    </insert>

    <select id="findByDisposalHistoryId" resultType="com.ecovery.dto.DisposalHistoryDto">
        select h.disposal_history_id as disposalHistoryId, h.ai_Prediction as aipridiction,
               h.region_gu as regionGu, h.final_item as finalItem,
               img.disposal_img_id as disposalImgId,
               i.item_name as itemName, i.min_price as minPrice, i.max_price as maxPrice, i.report_url as reportUrl
        from disposal_history h
        left join disposal_history_img img on h.disposal_history_id = img.disposal_history_id
        join disposal_info i on h.region_gu = i.region and h.final_item = i.item_name
        where h.disposal_history_id = #{disposalHistoryId}
    </select>

    <select id="findAllDisposalHistory" resultType="com.ecovery.dto.DisposalHistoryDto">
        select h.disposal_history_id as disposalHistoryId, h.member_id as memberId,
               h.ai_Prediction as aipridiction, h.region_gu as regionGu,
               h.final_item as finalItem, h.created_at as createdAt,
               img.disposal_img_id as disposalImgId
        from disposal_history h
                 left join disposal_history_img img on h.disposal_history_id = img.disposal_history_id
        order by h.created_at desc
    </select>

    <select id="findDisposalHistoryWithImgByMemberId" parameterType="long" resultType="com.ecovery.dto.DisposalHistoryDto">
        select h.disposal_history_id as disposalHistoryId, h.member_id as memberId,
               h.ai_Prediction as aipridiction, h.region_gu as regionGu,
               h.final_item as finalItem, h.created_at as createdAt,
               img.disposal_img_id as disposalImgId
        from
            disposal_history h
                left join disposal_history_img img on h.disposal_history_id = img.disposal_history_id
        where
            h.member_id = #{memberId}
        order by h.created_at desc
    </select>



</mapper>