<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    에코마켓 주문 Mapper.xml
    @author : sehui
    @fileName : OrderMapper.xml
    @since : 250723
    @history
     - 250723 | sehui | 주문 저장
-->

<mapper namespace="com.ecovery.mapper.OrderMapper">

    <resultMap id="orderResultMap" type="com.ecovery.domain.OrderVO">
        <id property="orderId" column="order_id" />
        <result property="memberId" column="member_id" />
        <result property="orderStatus" column="order_status" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="name" column="name" />
        <result property="zipcode" column="zipcode" />
        <result property="roadAddress" column="road_address" />
        <result property="detailAddress" column="detail_address" />
        <result property="phoneNumber" column="phone_number" />
    </resultMap>

    <!-- 주문 저장 -->
    <insert id="insertOrder" parameterType="com.ecovery.domain.OrderVO" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders (member_id, order_status, created_at , updated_at, name, zipcode, road_address, detail_address, phone_number)
        values (#{memberId}, #{orderStatus}, NOW(), NOW(), #{name}, #{zipcode}, #{roadAddress}, #{detailAddress}, #{phoneNumber})
    </insert>

</mapper>