<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 구매이력 조회 Mapper XML
* 구매이력 조회 및 상세 내용 확인을 위한 MyBatis 매퍼 파일
* @author : 방희경
* @fileName : OrderMapper.xml
* @since : 250723
* @history
     - 250723 | sehui | 주문 저장 기능 추가
     - 250724 | sehui | OrderVO에 주문 고유번호 order_uuid 컬럼 추가
     - 250725 | sehui | 주문 id 조회 기능 추가
     - 250725 | sehui | 주문 취소/결제 실패 시 관련 주문의 주문 상태 변경 기능 추가
-->

<mapper namespace="com.ecovery.mapper.OrderMapper">
    <!-- 주문 + 주문상품 + 결제 정보 포함 -->
    <resultMap id="orderHistoryMap" type="com.ecovery.dto.OrderHistoryDto">
        <id property="orderId" column="order_id"></id>
        <result property="orderStatus" column="order_status"></result>
        <result property="createdAt" column="created_at"></result>
        <result property="updatedAt" column="updated_at"></result>
        <result property="name" column="name"></result>
        <result property="zipcode" column="zipcode"></result>
        <result property="roadAddress" column="road_address"></result>
        <result property="detailAddress" column="detail_address"></result>
        <result property="phoneNumber" column="phone_number"></result>

        <!-- 결제 정보 -->
        <result property="paymentId" column="payment_id"></result>
        <result property="payMethod" column="pay_method"></result>
        <result property="payAmount" column="pay_amount"></result>
        <result property="payStatus" column="pay_status"></result>
        <result property="paidAt" column="paid_at"></result>

        <!-- 주문 상세 상품 리스트 -->
        <collection property="orderItems" ofType="com.ecovery.dto.OrderItemDto">
            <result property="itemId" column="item_id"></result>
            <result property="itemName" column="item_name"></result>
            <result property="orderItemId" column="order_item_id"></result>
            <result property="count" column="count"></result>
            <result property="orderPrice" column="order_price"></result>
            <result property="itemImgId" column="item_img_id"></result>
            <result property="imgName" column="img_name"></result>
        </collection>
    </resultMap>
    
    <!-- 주문 저장 -->
    <resultMap id="orderResultMap" type="com.ecovery.domain.OrderVO">
        <id property="orderId" column="order_id" />
        <result property="orderUuid" column="order_uuid" />
        <result property="memberId" column="member_id" />
        <result property="orderStatus" column="order_status" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="name" column="name" />
        <result property="zipcode" column="zipcode" />
        <result property="roadAddress" column="road_address" />
        <result property="detailAddress" column="detail_address" />
        <result property="phoneNumber" column="phone_number" />
    </resultMap>

    <select id="findOrdersItems" parameterType="long" resultMap="orderHistoryMap">
        select
            o.order_id,
            o.order_status,
            o.created_at,
            o.updated_at,
            o.name,
            o.zipcode,
            o.road_address,
            o.detail_address,
            o.phone_number,

            p.payment_id,
            p.pay_method,
            p.pay_amount,
            p.pay_status,
            p.paid_at,

            i.item_id,
            i.item_name,

            oi.order_item_id,
            oi.count,
            oi.order_price,

            ii.item_img_id,
            ii.img_name

        from orders o
        join order_item oi ON o.order_id = oi.order_id
        join item i ON oi.item_id = i.item_id
        LEFT JOIN item_img ii ON i.item_id = ii.item_id AND ii.rep_img_yn = 'Y'
        LEFT JOIN payment p ON o.order_id = p.order_id

        where o.member_id = #{memberId}
        order by o.created_at desc

    </select>
  
    <!-- 주문 저장 -->
    <insert id="insertOrder" parameterType="com.ecovery.domain.OrderVO" useGeneratedKeys="true" keyProperty="orderId">
      insert into orders (order_uuid, member_id, order_status, created_at , updated_at, name, zipcode, road_address, detail_address, phone_number)
      values (#{orderUuid}, #{memberId}, #{orderStatus}, NOW(), NOW(), #{name}, #{zipcode}, #{roadAddress}, #{detailAddress}, #{phoneNumber})
    </insert>

    <!-- 주문 id 조회 -->
    <select id="findOrderIdByOrderUuid" resultType="Long">
        select order_id
        from orders
        where order_uuid = #{orderUuid}
    </select>

    <!-- 주문 상태 변경 -->
    <update id="updateOrderStatus" parameterType="map">
        update orders
        set order_status = #{orderStatus},
            updated_at = NOW()
        where order_id = #{orderId}
    </update>

</mapper>